<template>
  <div class="chord-sheet">
    <div class="chord-sheet__nav">
      <ul>
        <li>
          <button
            class="chord-sheet__button"
            @click="transposeChords('down');transposeDiff--;"
          >Transpose Down</button>
        </li>
        <li>
          <p>Difference {{ transposeDiff }}</p>
        </li>
        <li>
          <button
            class="chord-sheet__button"
            @click="transposeChords('up');transposeDiff++;"
          >Transpose Up</button>
        </li>
        <!-- <li><select id="chord-sheet__select" v-model="sheetFormat" @change="displayChords()">
      <option value="text">text</option>
      <option value="table">table</option>
      <option value="div">div</option>
      <option value="chordpro">chordpro</option>
        </select></li>-->
      </ul>
    </div>
    <div
      v-html="chordOutput"
      class="chord-sheet__output"
      :class="sheetFormat"
      v-doubletap="onDoubletap"
      v-swipe="onSwipe"
    ></div>
  </div>
</template>

<script>
import ChordSheetJS from "chordsheetjs";
import Chord from "chordjs";

export default {
  name: "ChordSheetTest",
  props: {
    parser: {
      type: Object,
      default: function() {
        return new ChordSheetJS.ChordProParser();
      }
    },
    chordSheet: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      sheetFormat: "div",
      chordOutput: "",
      transposeDiff: 0
    };
  },
  methods: {
    displayChords: function() {
      let formatter;
      switch (this.sheetFormat) {
        case "text":
          formatter = new ChordSheetJS.TextFormatter();
          break;
        case "table":
          formatter = new ChordSheetJS.HtmlTableFormatter();
          break;
        case "div":
          formatter = new ChordSheetJS.HtmlDivFormatter();
          break;
        case "chordpro":
          formatter = new ChordSheetJS.ChordProFormatter();
          break;
        default:
          formatter = new ChordSheetJS.TextFormatter();
      }
      this.chordOutput = formatter.format(this.parsedChords);
    },
    transposeChords: function(direction) {
      const chords = this.$el.querySelectorAll(".chord");
      for (let index = 0; index < chords.length; index++) {
        let chord = Chord.parse(chords[index].innerHTML);
        let chord2;
        if (chord !== null) {
          if (direction === "up") {
            chord2 = chord.transposeUp();
          } else {
            chord2 = chord.transposeDown();
          }
          chords[index].innerHTML = chord2.normalize();
          toString();
        }
      }
    },
    onDoubletap: function() {
      this.$emit("rotate-right");
    },
    onSwipe: function(event) {
      if (event.direction == 2) {
        this.$emit("rotate-left");
      } else if (event.direction == 4) {
        this.$emit("rotate-right");
      }
    }
  },
  computed: {
    parsedChords: function() {
      return this.parser.parse(this.chordSheet);
    }
  },
  mounted() {
    this.displayChords();
  }
};
</script>

<style lang="scss">
.chord-sheet {
  text-align: left;

  &__nav {
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        padding: 0.5rem;
      }
    }
  }

  &__button {
    padding: 1rem 1.5rem;
    background-color: aquamarine;
    border-radius: 1rem;
  }

  &__output {
    &.div {
      .chord-sheet {
        overflow-x: scroll;
        display: flex;
        flex-flow: column wrap;
        @media (min-width: 720px) {
          height: 100vh;
        }
        text-align: left;
        font-size: 0.8rem;
        margin: -0.5rem;
      }
      .paragraph {
        margin: 0.5rem;
      }
      .column {
        display: inline-block;
        padding: 0.2rem;
      }
      .lyrics {
        display: inline-block;
      }
    }
  }
}
</style>
