<template>
  <div id="app">
    <div class="app-message" v-if="currentSong === null">
      <div class="app-message__text" v-html="data.message"></div>
      <div class="app-button">
        <button
          v-for="(song, buttonIndex) in data.songs"
          :key="'button'+buttonIndex"
          @click="changeSong(buttonIndex)"
        >{{song.name}}</button>
      </div>
    </div>
    <div v-else class="app-songs">
      <div class="app-button">
        <button
          @click="changeSong(null)"
        >Home</button>
        <button
          v-for="(song, buttonIndex) in data.songs"
          :key="'button'+buttonIndex"
          @click="changeSong(buttonIndex)"
        >{{song.name}}</button>
      </div>
      <div class="chordsheet-container">
        <chord-sheet-test
          v-for="(song, songIndex) in data.songs"
          :key="'song'+songIndex"
          v-show="currentSong == songIndex"
          :chord-sheet="song.chordpro"
          v-on:rotate-right="rotateRight"
          v-on:rotate-left="rotateLeft"
        ></chord-sheet-test>
      </div>
    </div>
  </div>
</template>

<script>
import ChordSheetTest from "./components/ChordSheetTest.vue";
import json from "./assets/data.json";

export default {
  name: "app",
  components: {
    ChordSheetTest
  },
  data() {
    return {
      data: json,
      currentSong: null
    };
  },
  methods: {
    changeSong: function(song) {
      this.currentSong = song;
    },
    rotateRight: function() {
      if (
        this.data.songs.length - 1 == this.currentSong ||
        this.currentSong == null
      ) {
        this.currentSong = 0;
      } else {
        this.currentSong++;
      }
    },
    rotateLeft: function() {
      if (0 == this.currentSong) {
        this.currentSong = this.data.songs.length - 1;
      } else {
        this.currentSong--;
      }
    }
  }
};
</script>

<style>
html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

#app {
  min-height: 100vh;
  max-width: 75rem;
  margin: 0 auto;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 2rem;
  background-color: #fff;
}
</style>
